{% extends 'base.html.twig' %}

{% block title %}Bonbon index{% endblock %}

{% block body %}
    <h1>Bonbon index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>PoidsNet</th>
            <th>QuantiteDansLeSachet</th>
            <th>SansSucre</th>
            <th>QuantiteEnStock</th>
            <th>Prix</th>
            <th>Marque</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bonbon in bonbons %}
            <tr>
                <td>{{ bonbon.id }}</td>
                <td>{{ bonbon.titre }}</td>
                <td>{{ bonbon.description }}</td>
                <td>{{ bonbon.poidsNet }}</td>
                <td>{{ bonbon.quantiteDansLeSachet }}</td>
                <td>{{ bonbon.sansSucre ? 'Yes' : 'No' }}</td>
                <td>{{ bonbon.quantiteEnStock }}</td>
                <td>{{ bonbon.prix }}</td>
                <td>{{ bonbon.marque.nom }}</td>
                <td>
                    <a href="{{ path('app_bonbon_show', {'id': bonbon.id}) }}">voir</a>
                    <a href="{{ path('app_bonbon_edit', {'id': bonbon.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_bonbon_new') }}">Nouveau</a>
{% endblock %}
